/* mobile responsive design atart here */
@media screen and (max-width: 567px) {
  .nav-link-list {
    display: none;
  }
  .hab-burger-icon {
    display: block;
  }
  .nav-logo img {
    width: 50px;
  }
  .nav-logo h1 {
    font-size: 1.5rem;
    font-weight: 800;
  }
  .banner-section-container {
    background-size: cover;
    background-position: center;
  }
  .banner-section-content {
    padding: 3rem 0px;
  }
  .banner-section-content h1 {
    font-size: 28px;
  }
  .banner-section-content p {
    width: 90%;
  }
  .banner-btn-container {
    flex-direction: column;
    margin: 0px 20px;
    margin-top: 30px;
    gap: 20px;
  }
  .banner-btn-container input,
  .banner-btn-container select {
    width: 80%;
  }
  .primary-btn {
    width: 80%;
  }
  .banner-btn-container button i {
    padding-right: 15px;
  }
}
