/* tablet responsive design start here */
@media screen and (max-width: 992px) {
  .nav-logo img {
    width: 50px;
  }
  .nav-logo h1 {
    font-size: 1.5rem;
    font-weight: 800;
    width: 140px;
  }
  .nav-link-list ul li {
    margin-left: 22px;
    font-size: 1.15rem;
  }
  .banner-section-container {
    background-size: cover;
    background-position: center;
  }
  .banner-section-content h1 {
    font-size: 3rem;
  }
  .banner-btn-container {
    margin: 0px 20px;
    margin-top: 30px;
  }
  .banner-btn-container input,
  .banner-btn-container select {
    width: 20%;
    font-size: 1rem;
  }
  .primary-btn {
    width: 23%;
    font-size: 1rem;
    padding: 0px 1px;

  }
    /* tours section start here */
  .tour-section-container {
    height: 100%;
    margin-top: 10px;
  }
  .tour-container {
      flex-direction: column;

  gap: 40px;
  height: 100%;

}
  .tour-left-section{
  width: 100%;
}
.tour-left-section h2 {
  font-size: 1.75rem;
}
.tour-right-section{
  width: 100%;
}
/* choose section responsive for tablet */
.choose-title-des-content {
  margin-top: 30px;
}
.choose-title-des-content h1 {
  font-size: 1.75rem;
}
.choose-title-des-content p {
  width: 100%;
  margin-top: 10px; 
}

}

/* mobile responsive design atart here */
@media screen and (max-width: 567px) {
  .nav-link-list {
    display: none;
  }
  .hab-burger-icon {
    display: block;
  }
  .nav-logo img {
    width: 50px;
  }
  .nav-logo h1 {
    font-size: 1.5rem;
    font-weight: 800;
  }
  .banner-section-container {
    background-size: cover;
    background-position: center;
  }
  .banner-section-content {
    padding: 3rem 0px;
  }
  .banner-section-content h1 {
    font-size: 22px;
  }
  .banner-section-content p {
    width: 90%;
  }
  .banner-btn-container {
    flex-direction: column;
    margin: 0px 20px;
    margin-top: 30px;
    gap: 20px;
  }
  .banner-btn-container input,
  .banner-btn-container select {
    width: 80%;
  }
  .primary-btn {
    width: 80%;
  }

   /* tours section start here */
  .tour-section-container {
    height: 100%;
    margin-top: 10px;
  }
  .tour-container {
      flex-direction: column;

  gap: 40px;
  height: 100%;

}
  .tour-left-section{
  width: 100%;
}
.tour-left-section h2 {
  font-size: 1.75rem;
}
.tour-right-section{
  width: 100%;
}
/* choose section responsive for mobile */
.choose-title-des-content {
  margin-top: 30px;
}
.choose-title-des-content h1 {
  font-size: 1.75rem;
}
.choose-title-des-content p {
  width: 100%;
  margin-top: 10px; 
}
.row1,
.row2,
.row3  { 
  grid-template-columns: 1fr;
}
}
